.Banner
{
  width: 100% !important;
  height: 40ex !important;
  margin: 0 !important;
  
  display: grid;
  
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 30%);
  
  align-content: space-between;
  justify-content: space-between;
  
  padding: 24px;
}

.BannerSection_0
{
  
}
