.Banner
{
  width: 100% !important;
  height: 40ex !important;
  margin: 0 !important;
  
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(4, 20%);
  
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  
  padding: 24px;
  
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.Banner > *
{
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

.Banner > p
{
  font-size: 14pt;
  justify-self: flex-start;
  text-align: left;
  /* white-space: wrap; */
}
