.Banner
{
  width: 100% !important;
  height: 40ex !important;
  margin: 0 !important;
  
  display: grid;
  
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 30%);
  
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: space-between;
  
  padding: 24px;
  
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.Banner > *
{
  /* height: 100%; */
  padding: 0;
  margin: 0;
  
  white-space: nowrap;
}

.Banner > p
{
  white-space: wrap;
}

.Banner button:hover
{
  background-color: green;
}
