/* 
  Using design as reference
  https://www.sketchappsources.com/free-source/4839-web-template-sketch-freebie-resource.html
*/

:root
{
  --defaultFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  /* https://color.adobe.com/create/color-wheel */
  --color-Primary-500: #2BF0AE;
  --color-Primary-400: #25CC94;
  --color-Primary-300: #1DA377;
  --color-Primary-200: #167A59;
  --color-Primary-100: #0F523B;
  
  --color-Secondary-500: #622BF0;
  --color-Secondary-400: #6948BD;
  --color-Secondary-300: #60508A;
  --color-Secondary-200: #494457;
  --color-Secondary-100: #2C2A33;
  
  --color-Warning: #F0742B;
  --color-Error: #F0302B;

  --color-Brown-500: #F0C0A3;
  --color-Brown-400: #C7A087;
  --color-Brown-300: #9E7F6C;
  --color-Brown-200: #705A4C;
  --color-Brown-100: #4D3D34;
  
  /* https://maketintsandshades.com/#181629 */
  --color-White-500: #ffffff;
  --color-White-400: #e8e8ea;
  --color-White-300: #d1d0d4;
  --color-White-200: #bab9bf;
  --color-White-100: #a3a2a9;
  
  --color-Grey-500: #8c8b94;
  --color-Grey-400: #74737f;
  --color-Grey-300: #5d5c69;
  --color-Grey-200: #464554;
  --color-Grey-100: #2f2d3e;
  
  --color-Black-700: #181629;
  --color-Black-600: #161425;
  --color-Black-500: #131221;
  --color-Black-400: #110f1d;
  --color-Black-300: #0e0d19;
  --color-Black-200: #0a0910;
  --color-Black-100: #020204;
}

body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--defaultFont);
}

body *
{
  position: relative;
  box-sizing: border-box;
  transition: 0.12s ease-out;
  
  font-family: var(--defaultFont);
}

body * { font-size: 12pt;}
h1 { font-size: 22pt; }
h2 { font-size: 20pt; }
h3 { font-size: 18pt; }
h4 { font-size: 17pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }


main > * { padding: 12px; margin: 0 8px; }
main > *.Banner, main > *.Carousel { margin: 0; }

.Invert { filter: invert(0.9); }
.Icon { vertical-align: middle; }
.Icon > img { height: 1em; }

.Spacer { color: transparent; min-height: 1rem; }
