.Carousel
{
  padding: 0;
  width: 100%;
}

.CarouselItems
{
  height: 100%;
  width: 100%;
  overflow: clip;
  /* transition: 2s ease !important; */
}

.CarouselItems > *
{
  background-color: aqua;
  /* transition: 2s; */
  position: absolute;
  width: 100%;
  top: 0px;
  /* left: 0; */
}

.CarouselItem_Left
{
  left: -100%;
}


.CarouselItem_Right
{
  left: 100%;
}

.CarouselButtons
{
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
