.Carousel
{
  padding: 0;
  width: 100%;
  overflow: clip;
}

.CarouselItems
{
  height: 100%;
  width: 100%;
  transition-timing-function: ease-in;
  
  /* transition: 2s ease !important; */
}

.CarouselItems > *
{
  background-color: aqua;
  position: absolute;  
  top: 0;
  left: 0;  
  width: 100%;
}

.CarouselItems > * > *
{
  padding: 12px 72px !important;
}

.CarouselItems > *::before
{
  content: "a";
  color: #00000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: black;
  opacity: 0.2;
  
  z-index: 8;
}

.CarouselItem_Left
{
  left: -100%;
}

.CarouselItem_Right
{
  left: 100%;
}

.CarouselButtons
{
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}

.CarouselButtons button
{
  border: none;
  background: none;
  height: 100%;
  width: 64px;
  object-fit: cover;
}

.CarouselButtons > button > *
{
  display: flex;
  height: 100%;
  width: 100%;
  
  align-items: center;
  justify-content: center;
}

.CarouselButtons img
{
  width: 50%;
  height: auto;
}

.CarouselButtons button:hover
{
  border: none;;
  background-color: #ffffffa0;
}
