.NavigationBar
{
  position: sticky;
  top: 0;
  
  color: var(--color-White-500);
  background-color: var(--color-Black-100);
  border-bottom: 3px solid var(--color-Primary-500);
  
  width: 100%;
  height: 64px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  z-index: 100 !important;
}

.NavigationBar > *
{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 100%;
  margin: 0;
  padding: 0;
}

.NavigationBar > h1
{
  margin-left: 5vw;
}

.NavButtonGroup
{
  flex: 1;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
}

.NavButton
{
  flex: 1;
    
  color: var(--color-White-400);
  background-color: var(--color-Black-100);
  height: 100%;
  padding: 16px;
  
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NavButton > * > *
{
  padding: 0 4px;
}

.NavButton > .Underline
{
  background-color: var(--color-White-400);
  width: 0;
  height: 2px;
  align-self:flex-start;
  
  transition: 0.2s ease-out;
}

.NavButton:hover
{
  color: var(--color-White-500);
  background-color: var(--color-Primary-500);
}

.NavButton:hover .Invert
{
  filter: invert(1);
}

.NavButton:hover > .Underline
{
  background-color: var(--color-White-500);
  width: 100%;
}
